.ribbon-checker {
    animation: fadeIn 1.5s ease-in-out;
}

.ribbon-container {
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #1a2a3a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.selected-ribbons {
    margin: 1rem;
    padding: 1rem;
    background-color: #16222a;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 325px;
}

.ribbon-selector {
    margin: 1rem;
    padding: 1rem;
    background-color: #16222a;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 430px;
}

.ribbon-flex-container {
    overflow-y: auto;
    max-height: calc(100vh - 450px);
    background-color: #34495e;
    border: 1px solid #ecf0f1;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.ribbon-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #ecf0f1;
    font-size: 1.4rem;
    border-radius: 1px;
}

.custom-checkbox {
    accent-color: #ffd700;
    width: 15px;
    height: 15px;
}

.info-button {
    background-color: #ffd700;
    color: #16222a;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
}

.label {
    font-weight: 600;
    color: #ecf0f1;
}

.ribbon-row {
    display: flex;
    justify-content: center;
}

.centered-row {
    justify-content: center;
}

.description {
    font-size: 1.25rem;
    padding: 0 2rem;
    margin: 5px 5px 20px 20px;
    color: #ecf0f1;
}

.no-ribbons-message {
    font-size: 1.25rem;
    text-align: center;
    color: #ecf0f1;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content-wrapper {
    background-color: #1a2a3a;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 100%;
    padding: 1rem;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-header {
    width: 100%;
    text-align: center;
}

.modal-title {
    margin: 0;
    font-size: 1.5rem;
    color: #ffd700;
}

.modal-body {
    text-align: center;
    padding: 10px;
}

.modal-ribbon-image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.modal-footer {
    width: 100%;
    text-align: center;
}

.btn {
    background-color: #003366;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 6px;
    text-align: center;
    width: calc(50% - 1rem);
    box-sizing: border-box;
    font-size: 1rem;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #1a2a3a;
    border-top: 1px solid #ddd;
    flex-shrink: 0;
}

.center {
    text-align: center;
    color: #ffd700;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 20px 0;
}
