/* Quarterdeck.component.css */

.quarterdeck-page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    color: #ecf0f1;
}

.navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 50px;
    padding-bottom: 20px;
    width: 100%;
}

.button {
    background: #1e3c72;
    border: none;
    border-radius: 5px;
    color: #ecf0f1;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    max-height: 40px;
    padding: 8px 20px;
    outline: none;  /* Remove focus outline */
}

.button:hover {
    background: #2a5298;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button.active {
    background: #ffd700;
    color: #1e3c72;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

.section {
    text-align: center;
    margin: 10px 0 20px 0;
    background-color: #1a2a3a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 10px;
}

.chief-chat-section {
    max-width: 800px;
    height: auto;
}

.deck-log-section {
    max-width: 600px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: 0;
    max-width: 100%;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
}
