.staff-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: gold solid 2px;
}

.staff-section h2 {
    color: #ffd700;
    font-size: 2rem;
    margin: 10px 0;
}

.staff-section-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    gap: 20px;
    overflow-y: auto; /* Enable scrolling within the section content */
    /* Add padding to the bottom for small screens */
    padding: 20px 20px 50px;
}

.large-cards .staff-card {
    width: 275px;
}

.medium-cards .staff-card {
    width: 250px;
}

.small-cards .staff-card {
    width: 225px;
}

.staff-image {
    width: 100%;
    height: auto;
    margin: 15px auto;
    border-radius: 10px;
    object-fit: cover; /* Ensure the image covers the container without being cut off */
}

.staff-card {
    position: relative;
    text-align: center;
}

.staff-title {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #333;
}

.officer .staff-info p,
.officer .staff-title {
    color: gold;
}

.enlisted .staff-info p,
.enlisted .staff-title {
    color: silver;
}

.officer .staff-image {
    box-shadow: 0 0 10px 0 gold;
}

.enlisted .staff-image {
    box-shadow: 0 0 10px 0 silver;
}
