.quarterdeck-page-container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #16222a;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    min-height: calc(100vh - 120px); /* Ensure it fills the viewport minus header */
    box-sizing: border-box;
    justify-content: flex-start;
}

.navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 50px;
    padding-bottom: 20px;
    width: 100%;
}

.navigation button {
    background: #1e3c72;
    border: 1px solid #2a5298;
    border-radius: 5px;
    color: #ecf0f1;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    max-height: 40px;
    padding: 8px 20px;
}

.navigation button:hover {
    background: #2a5298;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navigation button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 215, 0, 0.6);
}

.navigation button.active {
    background: #ffd700;
    color: #1e3c72;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
    transform: translateY(0);
}

.chief-chat-section, .deck-log-section {
    width: 90%;
    max-width: 800px;
    text-align: center;
    padding: 10px 20px;
    background-color: #1a2a3a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio of 16:9 */
    width: 100%;
    height: 0;
    max-width: 100%;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    object-fit: contain;
}

.event-card {
    background-color: #1a2a3a;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.event-card h3 {
    font-size: 1.5rem;
    color: #ffd700;
    margin-bottom: 10px;
}

.event-card p {
    font-size: 1.2rem;
    color: #ecf0f1;
}

@media (max-width: 575px) {
    .chief-chat-section {
        padding: 5px 10px;
        max-height: calc(95vh - 200px); /* Adjusted to avoid overflow */
    }

    .navigation button {
        max-width: 200px;
        margin: 10px 5px;
    }

    .video-container {
        max-height: 90vh;
    }

    .quarterdeck-page-container {
        padding: 10px;
        min-height: calc(100vh - 145px); /* Ensure it fills the viewport minus header on mobile */
    }
}
